<div class="container">
<div class="container form-container">
  <div class="row justify-content-center">
    <div class="col-6 align-self-center">
    <% include ./partials/header.ejs %>
    <% include ./partials/eventsNav.ejs %>
    <% if(message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %> 
    <h2 class="form-label">Login</h2>
      <div class="card card-shadow">
        <div class="card-block">
          <form method="post" action="/login">
            <div class="form-group">
              <label for="email">Email</label>
              <input class="form-control" type="email" name="email" placeholder="email@example.com" id="email" required="">
            </div>

            <div class="form-group">
              <label for="email">Password</label>
              <input class="form-control" type="password" name="password" placeholder="Password" id="password">
            </div>

            <input class="btn btn-default brand-color-btn" type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<% include ./partials/footer.ejs %>