*{
	font-family: 'Work Sans', sans-serif;
}


.my-nav {
	background: #fff;
	border-bottom: 1px solid #eee;
	padding-right: 30px;
	padding-left: 30px;
}

#my-brand{
	color: #4CFFE8;
	letter-spacing: .12em;
	font-size: 30px;
	padding-bottom: 0;
	border-bottom: 1px solid #aaa;
}

.link-color {
	color: #333;
}

.link-color:hover {
	color: #45CCFF;
}

.form-container {
	margin-top: 150px;
}

.form-label {
	margin-bottom: 25px;
}

.brand-color-btn {
	background: #F2385A;
	color: #fff;
}

.track-btn-color {
	background: #F2385A;
	color: #fff;
}

.invite-btn-color {
	background: #4CFFE8;
	color: #333;
}

.pink{ 
	color: #F2385A;
}

#active {
	color: #F2385A;
}

.card-shadow {
	box-shadow: 0 1px 2px rgba(0,0,0,0.12)
}


.event-name-header {
	color: #333;
}

.tron {
	margin-top: 75px;
	padding-top: 100px;
}


.grey {
	color: #333;
	border: none;
	text-shadow: none;
}


.bg {
  /*background: url('/images/event-bg-crop.jpg') no-repeat center center;
  background-size: cover;*/
  position: fixed;
  width: 100%;
  height: 350px; 
  top:0;
  left:0;
  z-index: -1;
  /*opacity: .65;*/
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  border-bottom: 1px solid #eee;
  margin-bottom: 60px;
}

.sidebar {
	height: 400px;
	overflow: scroll;
}

.invites {
	padding-top: 2px;
}

.sidebar-header {
	padding: 15px 25px 7px 25px;
	background: #F2385A;
	color: #fff;
}

.invite-item {
	font-size: 1em;
	min-height: 100px;
}

.invite-list {
	overflow: scroll;
}

.deny {
	float: right;
	color: #F22C49;
}

.check {
	float: left;
	color: #4CFFE8;
}

.invite-options-col {
	padding: 0;
}

.pointer {
	cursor: pointer;
}

.footer {
	background: #333;
}

.footer-brand {
	color: #4CFFE8;
	text-align: center; 
	margin-top: 15px;
}

.no-invite {
	font-size: 30px;
	color: #ddd;
	text-align: center;
}
/*.fixed {
	position: fixed;
	top: 0;
	width: inherit;
}*/


/*.event-heading {
	margin-bottom: 20px; 
	margin-top: 125px;
	color: #333;
}

.card-shadow {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}*/